<div class="box box-main" style="height: 690px;">
  <div class="content" style="margin: 20px; border: 2px solid #6f4747; height: 650px">
    <div class="choose-stone-row-10">
      <div class="col-md-3 option-choose">
        <a ><img class="img-stone img-stone-10 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a ><img class="img-stone img-stone-10" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a ><img class="img-stone img-stone-10" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a ><img class="img-stone img-stone-10" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-9">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(9)"><img class="img-stone img-stone-9" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(9)"><img class="img-stone img-stone-9 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(9)"><img class="img-stone img-stone-9" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(9)"><img class="img-stone img-stone-9" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-8">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(8)"><img class="img-stone img-stone-8" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(8)"><img class="img-stone img-stone-8" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(8)"><img class="img-stone img-stone-8 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(8)"><img class="img-stone img-stone-8" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-7">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(7)"><img class="img-stone img-stone-7 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(7)"><img class="img-stone img-stone-7" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(7)"><img class="img-stone img-stone-7" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(7)"><img class="img-stone img-stone-7" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-6">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(6)"><img class="img-stone img-stone-6" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(6)"><img class="img-stone img-stone-6" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(6)"><img class="img-stone img-stone-6" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(6)"><img class="img-stone img-stone-6 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-5">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(5)"><img class="img-stone img-stone-5" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(5)"><img class="img-stone img-stone-5 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(5)"><img class="img-stone img-stone-5" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(5)"><img class="img-stone img-stone-5" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-4">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(4)"><img class="img-stone img-stone-4 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(4)"><img class="img-stone img-stone-4" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(4)"><img class="img-stone img-stone-4" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(4)"><img class="img-stone img-stone-4" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-3">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(3)"><img class="img-stone img-stone-3" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(3)"><img class="img-stone img-stone-3" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(3)"><img class="img-stone img-stone-3 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(3)"><img class="img-stone img-stone-3" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-2">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(2)"><img class="img-stone img-stone-2" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(2)"><img class="img-stone img-stone-2 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(2)"><img class="img-stone img-stone-2" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(2)"><img class="img-stone img-stone-2" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this)"></a>
      </div>
    </div>
    <div class="choose-stone">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(1)"><img class="img-stone img-stone-1" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(1)"><img class="img-stone img-stone-1" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(1)"><img class="img-stone img-stone-1 dung" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion(1)"><img class="img-stone img-stone-1" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this)"></a>
      </div>
    </div>
    <div class="root-choose">
      <div class="col-md-3 option-choose">
        A
      </div>
      <div class="col-md-3 option-choose">
        B
      </div>
      <div class="col-md-3 option-choose">
        C
      </div>
      <div class="col-md-3 option-choose">
        D
      </div>
    </div>
  </div>
</div>
