<div class="box box-qa" style="height: 500px;">
  <div class="qa-image">
    <img src="https://i.ibb.co/8Dttw4x/guom-khien.png" alt="guom" style="height: 200px; display: block; margin: 0 auto;" onclick="checkAnswer();">
  </div>
  <div class="dialog hidden" id="dialog-hidden" style="display: none;">
    <img src="https://i.ibb.co/CzqbyJY/dialog-hero.png" alt="dialog" style="height: 300px; display: block; margin-top: -80px; margin-left: 50px" onclick="checkAnswer();">
    <p class="dialog-text" style="width: 230px;
    color: red;
    margin-top: -205px;
    margin-left: 121px;">Ta đã trả lời xong 10 câu hỏi của nhà ngươi, hãy mau tiếp chiêu...</p>
  </div>
  <div class="question-area-box">
    <div class="question-content">
      <p>{{questionNhan.question}}</p>
    </div>
    <div class="answer-area row" style="height: 30%; margin: 30px">
      <div class="answer-option col-md-6">
        <p>{{questionNhan.optionA}}</p>
      </div>
      <div class="answer-option col-md-6">
        <p>{{questionNhan.optionB}}</p>
      </div>
      <div class="answer-option col-md-6">
        <p>{{questionNhan.optionC}}</p>
      </div>
      <div class="answer-option col-md-6">
        <p>{{questionNhan.optionD}}</p>
      </div>
    </div>
  </div>
</div>
