<div class="box box-qa" style="height: 500px;">
  <div class="qa-image">
    <img src="https://i.ibb.co/8Dttw4x/guom-khien.png" alt="guom" style="height: 200px; display: block; margin: 0 auto;">
  </div>
  <div class="question-content">
    <p>{{questionNhan.question}}</p>
  </div>
  <div class="answer-area row" style="height: 30%; margin: 30px">
    <div class="answer-option col-md-6">
      <p>{{questionNhan.optionA}}</p>
    </div>
    <div class="answer-option col-md-6">
      <p>{{questionNhan.optionB}}</p>
    </div>
    <div class="answer-option col-md-6">
      <p>{{questionNhan.optionC}}</p>
    </div>
    <div class="answer-option col-md-6">
      <p>{{questionNhan.optionD}}</p>
    </div>
  </div>
</div>
