<div class="box box-main" style="height: 690px;">
  <div class="content" style="margin: 20px; border: 2px solid #6f4747; height: 650px">
    <div class="choose-stone-row-10">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('999A')"><img class="img-stone img-stone-10" id="9A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('999B')"><img class="img-stone img-stone-10" id="9B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('999C')"><img class="img-stone img-stone-10" id="9C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('999D')"><img class="img-stone img-stone-10" id="9D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="hideQuestionArea(); focusImage10(this)"></a>
      </div>
    </div>
    <div class="choose-stone-row-9">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('98A')"><img class="img-stone img-stone-9" id="8A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('98B')"><img class="img-stone img-stone-9" id="8B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('98C')"><img class="img-stone img-stone-9" id="8C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('98D')"><img class="img-stone img-stone-9" id="8D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage9(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-8">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('87A')"><img class="img-stone img-stone-8" id="7A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('87B')"><img class="img-stone img-stone-8" id="7B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('87C')"><img class="img-stone img-stone-8" id="7C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('87D')"><img class="img-stone img-stone-8" id="7D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage8(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-7">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('76A')"><img class="img-stone img-stone-7" id="6A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('76B')"><img class="img-stone img-stone-7" id="6B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('76C')"><img class="img-stone img-stone-7" id="6C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('76D')"><img class="img-stone img-stone-7" id="6D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage7(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-6">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('65A')"><img class="img-stone img-stone-6" id="5A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('65B')"><img class="img-stone img-stone-6" id="5B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('65C')"><img class="img-stone img-stone-6" id="5C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('65D')"><img class="img-stone img-stone-6" id="5D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage6(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-5">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('54A')"><img class="img-stone img-stone-5" id="4A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('54B')"><img class="img-stone img-stone-5" id="4B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('54C')"><img class="img-stone img-stone-5" id="4C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('54D')"><img class="img-stone img-stone-5" id="4D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage5(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-4">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('43A')"><img class="img-stone img-stone-4" id="3A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('43B')"><img class="img-stone img-stone-4" id="3B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('43C')"><img class="img-stone img-stone-4" id="3C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('43D')"><img class="img-stone img-stone-4" id="3D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage4(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-3">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('32A')"><img class="img-stone img-stone-3" id="2A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('32B')"><img class="img-stone img-stone-3" id="2B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('32C')"><img class="img-stone img-stone-3" id="2C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('32D')"><img class="img-stone img-stone-3" id="2D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage3(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone-row-2">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('21A')"><img class="img-stone img-stone-2" id="1A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('21B')"><img class="img-stone img-stone-2" id="1B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('21C')"><img class="img-stone img-stone-2" id="1C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('21D')"><img class="img-stone img-stone-2" id="1D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage2(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="choose-stone">
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('10A')"><img class="img-stone img-stone-1" id="0A" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('10B')"><img class="img-stone img-stone-1" id="0B" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('10C')"><img class="img-stone img-stone-1" id="0C" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this); showQuestionArea()"></a>
      </div>
      <div class="col-md-3 option-choose">
        <a (click)="changeQuestion('10D')"><img class="img-stone img-stone-1" id="0D" src="https://i.ibb.co/fX42K20/stone-2.png" alt="img" onclick="focusImage(this); showQuestionArea()"></a>
      </div>
    </div>
    <div class="root-choose">
      <div class="col-md-3 option-choose">
        A
      </div>
      <div class="col-md-3 option-choose">
        B
      </div>
      <div class="col-md-3 option-choose">
        C
      </div>
      <div class="col-md-3 option-choose">
        D
      </div>
    </div>
  </div>
</div>
