.chude div {
  background: url('9cfe9a4764ee81b0d8ff.jpg') ;
  background-size: 100%;
  height: 60px;
  margin-top: 30px;
  font-size: 30px;
  padding-top: 19px;
  font-weight: bold;
}
.chude div:hover {
  color: saddlebrown;
  height: 80px;
  padding-top: 5px;
  margin-top: 5px;
  font-size: 50px;

}
